<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Zadania Domowe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title" th:text="${userName} + ' ::     ' + ${zadania.getTask()}">Zadania do zrobienia</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(zadania.getExercises())}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Nr</th>
                                <th>Treść</th>
                                <th>Podgląd</th>
                                <th th:if="${areExercisesRated and not #lists.isEmpty(zadania.getRate())}">Ocena</th>
                            </tr>
                            </thead>
                            <tr th:each="exercise : ${zadania.getExercises()}">
                                <td th:text="${exercise.id}">334</td>
                                <td th:text="${exercise.content}">Hard task</td>
                                <td>
                                    <a href="#" th:href="@{'/homework/' + ${zadania.id} + '/exercise/' + ${exercise.id}}"
                                       th:text="${exercise.guess} ? 'Popraw' : 'Wykonaj'">View</a></td>
                                <td th:text="${exercise.rate}" th:if="${areExercisesRated}">Jedynka</td>
                                <!--<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>-->
                            </tr>
                            <thead class="thead-inverse">
                            <tr th:if="${!areExercisesDone and #lists.isEmpty(zadania.getRate())}">
                                <th></th>
                                <th>Wykonaj wszystkie ćwiczenia by wystawić ocenę</th>
                            </tr>
                            <!--<tr th:unless="${!areExercisesDone and !areExercisesRated and #lists.isEmpty(zadania.getRate())}">-->
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" th:href="@{'/homework/' + ${zadania.id} + '/rate'}"
                                       th:if="${areExercisesDone and #lists.isEmpty(zadania.getRate())}"
                                       th:text="Oceń">View</a></td>
                                    <!--<button type="submit" class="btn btn-primary"-->
                                            <!--th:action="@{/rate/} + ${zadania.getId()}" method="get">Oceń</button>-->
                                <th th:text="${zadania.rate}" th:if="${areExercisesRated}">GlobalRate</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>