<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Zadania do odrobienia</title>
</head>
<body>
<div align="center">
    <form th:object="${inputText}" th:action="@{indexx}" method="post">
        <h1 id="welcome">Witam w zadaniach domowych</h1>
        <div class="col-md-3 form-group">
            <label>Podaj swoje imię:</label>
            <input type="text" name="inputText"class="form-control"/>
        </div>

        <h3>
        </h3>
        <div>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </div>
        <div id="footerId">Created by Piotrek</div>
    </form>
</div>
</body>
</html>